
html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  background-color: #0b0d13; 
  color: #fff; 
  font-family: system-ui, -apple-system, sans-serif;
 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.content-wrapper {
  padding-top: 30px; 
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1; 
}

a {
  color: white;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html { color-scheme: dark; }
}

